body {
    display: flex;
    justify-content: center;
}

button {
  flex-grow: 1;
}

textarea {
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.user-interface {
  flex: 0 1 700px;
  display: flex;
  flex-direction: column;
}

.urls {
    display: flex;
}

