/*
@import url("../../../common-sections.css");
*/
@import url("/tmp/common-sections.css");


button {
  border-right-color: var(--BUTTON-COLOR);
  border-left-color: var(--BUTTON-COLOR);
  border-bottom: 1px solid var(--BACKGROUND-COLOR);
  border-top: 1px solid var(--BACKGROUND-COLOR);
}

textarea {
  flex-grow: 1;
  resize: vertical;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px var(--YELLOW-COLOR);
}

.configuration {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.delay-ui {
  display: flex;
  justify-content: space-between;
}

.main-page {
  display: flex;
  justify-content: center;
}

.user-interface {
  flex: 0 1 700px;
  display: flex;
  flex-direction: column;
}
