/*
@import url("/tmp/base.css");
*/
@import url("../../../base.css");

textarea {
  flex-grow: 1;
  resize: vertical;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px var(--YELLOW-COLOR);
}

input[type="radio"] {
  cursor: pointer;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 2px var(--YELLOW-COLOR);
}

button {
  width: 100%;
}

.configuration-options {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.delay-section-with-input {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.main-page {
  display: flex;
  justify-content: center;
}

.user-interface {
  flex: 0 1 700px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

